@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

@font-face {
    font-family: 'Camber-Sb';
    src: url('../assets/font/Camber-Sb.woff2') format('woff2'),
}

@font-face {
    font-family: 'Camber-Lg';
    src: url('../assets/font/Camber-Lg.woff2') format('woff2'),
}

@font-face {
    font-family: 'Camber-Md';
    src: url('../assets/font/Camber-Md.woff2') format('woff2'),
}


:root {
    --color-main: #0b3144;
    --color-secondary: #00ffae;
    --color-text: #666;
    --color-background: #fff;
    --padding-base: 2rem;
}
html {
    font-family: 'Camber-Sb', sans-serif;
}

.heading {
    font-size: 2.5rem;
}
.lead {
    width: 40rem;
    max-width: 100%;
}
.subheading {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.title {
    color: #E88C74;
}

.my-custom-slider {
    margin-top: 2rem;
    background-color: transparent;
}

.section-main {
    margin: 0 !important;
    background-color: transparent;
    padding: 0 5rem;
    z-index: 2;
    position: relative;
}

.section-1 {
    display: flex;
    width: 100%;
    height: 19rem;
}

.titleTop {
    width: 50%;
    display: flex;
    color: #2E2F33;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.titleTop h1 {
    width: 80%;
    font-size: 2.8125rem;
    color: #2E2F33;
}

.txt-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-left: 3rem;
    color: #2E2F33;
}

.txt-1 p {
    font-family: 'Camber-Md', sans-serif;
    width: 80%;
    font-size: 1.1875rem;
}

.section-2 {
    display: flex;
    width: 100%;
    height: 29rem;
    background-image: url(../assets/pattern.png);
    box-shadow: none;
    padding: 0 5rem;
    margin: 0;
    align-items: center;
}

.txt-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.txt-2 p {
    font-family: 'Camber-Lg', sans-serif;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.video-2 {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.video-2 img {
    width: 22.54263rem;
    height: 15.02256rem;    
}

.video-3 {
    border-radius: 1.25rem;
}

.section-3 {
    display: flex;
    width: 100%;
    height: 19rem;
}
.txt-3 h1 {
    width: 16rem;
}

.txt-3 {
    align-items: start;
}

.slider-title {
    font-family: 'Camber-Sb', sans-serif;
    color: #000;
    font-size: 2.8125rem;
    font-style: normal;
    text-align: left;
    margin-bottom: 1.5rem;
}

.box-1 {
    box-shadow: 0px 0px 3.512px 0px rgba(0, 0, 0, 0.25);
    width: 13.69581rem;
    height: 16.8125rem;
}

.title-box {
    color: #000;
    font-size: 1.375rem;
}

.inner-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
}

.inner-box h3 {
    margin-left: 1rem !important;
}
.red-line {
    width: 0.61456rem;
    height: 100%;
    background: #F52709;
}

.image-box {
    width: 100%;
    width: 13.69581rem;
    height: 11.89606rem;
    background-image: url('../assets/a.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.image-box-b {
    width: 100%;
    width: 13.69581rem;
    height: 11.89606rem;
    background-image: url('../assets/b.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.image-box-c {
    width: 100%;
    width: 13.69581rem;
    height: 11.89606rem;
    background-image: url('../assets/c.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.image-box-d {
    width: 100%;
    width: 13.69581rem;
    height: 11.89606rem;
    background-image: url('../assets/d.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.slider-title-1 {
    padding: 0 5rem 0 5rem;
    /* box-shadow: 0px -10px 12px 0px rgba(0, 0, 0, 0.1); */
    z-index: 10;
    position: relative;
    background-color: transparent;
}
.sticky-1 svg {
    width: 10.0625rem;
    height: 2.875rem;
}
.section-main-2 {
    margin: 0;
    background-color: #fff;
    padding: 0 0 0 5rem;
}

.section-map-inner {
    height: 24.9rem;
    display: flex;
    width: 100%;
}

.map-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: left;
    background-image: url('../assets/maps/BAR.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-color: red;
    height: 100%;
    object-fit: cover;
}

/* Here is the style for the map */

.section-map {
    margin: 0;
    background-color: #fff;
    padding: 0 0 0 5rem;
    height: 24.9rem;
    overflow: hidden;
}

.txt-map {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: left;
    object-fit: cover;
}

.txt-map h1 {
    font-family: 'Camber-Sb', sans-serif;
    color: #000;
    font-size: 2.8125rem;
    font-style: normal;
    text-align: left;
}

.txt-map p {
    font-family: 'Camber-Lg', sans-serif;
    width: 80%;
    margin-top: 1rem;
}

select {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Remove default styles in some browsers */
    font-family: 'Camber-Lg', sans-serif;
    width: 14rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

.form-control-5 {
    width: 28.2rem;
    margin: 0;
}

/* Style the dropdown arrow */
select::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    /* font-family: 'Camber-Lg', sans-serif; */
}

/* Style the options within the dropdown */
option {
    font-size: 0.8rem;
    font-family: 'Camber-Lg', sans-serif;
}

#result {
    width: auto;
    height: 100%;
}

#result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-md-9 {
    width: 100%;
    height: 100%;
}

#map-space {
    margin-bottom: 1rem;
}

video {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.expanderBackground {
    width: 100%;
    height: 183rem;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sectionMap {
    height: 43.6rem;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.finalMap {
    width: 50%;
    background-image: url(../assets/finalMap.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mapsRightSideImage {
    width: 50%;
    background-image: url(../assets/manAd.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-left: 0.75rem; */
}

.mapsRightSideImage h1 {
    margin-top: 26rem;
    color: #fff;
    font-size: 2.0625rem;
    margin-bottom: 1.9rem;
}

.mapsRightSideImagInside {
    margin-left: 2.5rem;
}

.cta-1 {
    width: 9rem;
    height: 3rem;
    display: flex;
    padding-top: 0.7rem;
    border-radius: 0.4375rem;
    border: 1px solid #FFF;
    background-color: transparent;
    justify-content: center;
}

.cta-1 p {
    margin-top: -0.1rem;
}

.cta-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionMiniVideo {
    width: 100%;
    height: 32rem;
    display: flex;
}
.smallVideo {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.sectionMiniVideoText {
    width: 50%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    padding: 0 2rem 0 0;
}

.sectionMiniVideoText h1 {
    font-size: 2.8125rem;
    margin-bottom: 1.5rem;
    color: #2E2F33;
}

.sectionMiniVideoText p {
    font-family: 'Camber-Md', sans-serif;
    width: 80%;
    font-size: 1.1875rem;
}

.smallVideoTwo {
    width: 26.625rem;
    height: 21.9375rem;
    overflow: hidden;
}

.actualSmallVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.MansAdImage {
    width: 100%;
    background-image: url(../assets/manAd.jpg);
    height: 39rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5rem;
    position: relative;
}

.MansAdImageText {
    position: absolute;
    bottom: 1.5rem;
}

.MansAdImageText h1 {
    color: #FFF;
    font-family: 'Camber-Sb', sans-serif;
    font-size: 2.8125rem;
    margin-bottom: 1rem;
}

.middleCta {
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    background-image: url(../assets/Map.png);
    height: 61.60138rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.locationOne {
    width: 9.92119rem;
    height: 2.96156rem;
    /* background-color:red; */
    background-image: url(../assets/locations/Mo-i-Rana.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 8.4rem;
    right: 10.8rem;
}

.locationTwo {
    width: 16.48663rem;
    height: 2.96806rem;
    /* background-color:red; */
    background-image: url(../assets/locations/Røros.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 33.9rem;
    right: 14.2rem;
}

.locationThree {
    width: 19.9785rem;
    height: 2.569rem;
    background-image: url(../assets/locations/Vinstra.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 37.3rem;
    right: 14.5rem;
}

.locationFour {
    width: 21.72444rem;
    height: 3.54175rem;
    background-image: url(../assets/locations/Beitostølen.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 41.2rem;
    right: 14.8rem;
}


.locationFive {
    width: 20.60206rem;
    height: 6.95881rem;
    background-image: url(../assets/locations/Fagernes.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 42.6rem;
    right: 16rem;
}

.locationSix {
    width: 21.42513rem;
    height: 9.60263rem;
    background-image: url(../assets/locations/Hemsedal.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 43.6rem;
    right: 15.8rem;
}

.locationSeven {
    width: 22.62231rem;
    height: 10.15138rem;
    background-image: url(../assets/locations/Oslo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 46.8rem;
    right: 16rem;
}

.locationEight {
    width: 16.16238rem;
    height: 2.59394rem;
    background-image: url(../assets/locations/Bergen.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 46.3rem;
    left: 13.85rem;
}

.locationNine {
    width: 10.50056rem;
    height: 3.84106rem;
    background-image: url(../assets/locations/Voss.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 41.7rem;
    left: 14.5rem;
}

.locationTen {
    width: 11.52319rem;
    height: 4.61425rem;
    background-image: url(../assets/locations/Sogndal.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 37.9rem;
    left: 14.5rem;
}

.locationFourTxt {
    top: 42.4rem;
    right: 14.4rem;
    position: absolute;
    width: 12.88725rem;
    height: 2.52431rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationFourDot {
    top: 40.8rem;
    right: 35rem;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationFiveTxt {
    top: 47rem;
    right: 11.4rem;
    position: absolute;
    width: 12.88725rem;
    height: 2.52431rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationFiveDot {
    top: 42.6rem;
    right: 35rem;
    position: absolute;
    width: 1.5rem;
    height: 1.1rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationSixTxt {
    top: 51rem;
    right: 11.4rem;
    position: absolute;
    width: 12.88725rem;
    height: 2.52431rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationSixDot {
    top: 43.8rem;
    right: 36rem;
    position: absolute;
    width: 1.5rem;
    height: 1.1rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationSevenTxt {
    top: 55rem;
    right: 12.4rem;
    position: absolute;
    width: 12.88725rem;
    height: 2.52431rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationSevenDot {
    top: 49rem;
    right: 30rem;
    position: absolute;
    width: 2rem;
    height: 2rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationEightTxt {
    top: 46.3rem;
    right: 42.4rem;
    position: absolute;
    width: 12.88725rem;
    height: 2.52431rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationEightDot {
    top: 46rem;
    right: 37rem;
    position: absolute;
    width: 2rem;
    height: 2rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationNineTxt {
    top: 41.5rem;
    right: 45.4rem;
    position: absolute;
    width: 12.88725rem;
    height: 2.52431rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationNineDot {
    top: 44rem;
    right: 42rem;
    position: absolute;
    width: 2rem;
    height: 2rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationTenTxt {
    top: 37.9rem;
    right: 45.4rem;
    position: absolute;
    width: 12.88725rem;
    height: 2.52431rem;
    /* background-color: #F52709; */
    z-index: 100;
}

.locationTenDot {
    top: 41rem;
    right: 41rem;
    position: absolute;
    width: 2rem;
    height: 2rem;
    /* background-color: #F52709; */
    z-index: 100;
}

@media (max-width: 480px) {

    .locationTenTxt {
        width: 19.26094vw;
        height: 5.55188vw;
        top: 81.8vw;
        right: 77.75vw;
        z-index: 100;
        position: absolute;
    }

    .locationTenDot {
        top: 90vw;
        right: 69vw;
        position: absolute;
        width: 3vw;
        height: 3vw;
        /* background-color: #F52709; */
    }

    .locationNineTxt {
        width: 19.26094vw;
        height: 5.55188vw;
        top: 90.8vw;
        right: 77.75vw;
        z-index: 100;
        position: absolute;
    }

    .locationNineDot {
        top: 97vw;
        right: 69vw;
        position: absolute;
        width: 3vw;
        height: 3vw;
        /* background-color: #F52709; */
    }

    .locationEightTxt {
        width: 32.26094vw;
        height: 5.55188vw;
        top: 100.8vw;
        right: 66.75vw;
        z-index: 100;
        position: absolute;
    }

    .locationEightDot {
        top: 101vw;
        right: 61vw;
        position: absolute;
        width: 3vw;
        height: 3vw;
        /* background-color: #F52709; */
    }

    .locationSevenTxt {
        width: 32.26094vw;
        height: 5.55188vw;
        top: 118.8vw;
        right: 2.75vw;
        z-index: 100;
        position: absolute;
    }

    .locationSevenDot {
        top: 107vw;
        right: 46vw;
        position: absolute;
        width: 3vw;
        height: 3vw;
        /* background-color: #F52709; */
    }

    .locationSixTxt {
        width: 32.26094vw;
        height: 5.55188vw;
        top: 110.8vw;
        right: 2.75vw;
        z-index: 100;
        position: absolute;
    }

    .locationSixDot {
        top: 94vw;
        right: 59vw;
        position: absolute;
        width: 3vw;
        height: 3vw;
        /* background-color: #F52709; */
    }
    
    .locationFourTxt {
        width: 32.26094vw;
        height: 5.55188vw;
        top: 91.8vw;
        right: 8.75vw;
        z-index: 100;
        position: absolute;
    }

    .locationFourDot {
        top: 89vw;
        right: 56vw;
        position: absolute;
        width: 3vw;
        height: 3vw;
        /* background-color: #F52709; */
    }

    .locationFiveTxt {
        width: 32.26094vw;
        height: 5.55188vw;
        top: 101.8vw;
        right: 2.75vw;
        z-index: 100;
        position: absolute;
    }

    .locationFiveDot {
        top: 92vw;
        right: 56vw;
        position: absolute;
        width: 3vw;
        height: 3vw;
        /* background-color: #F52709; */
    }
    
    .mapMobile {
        background-image: url(../assets/mapMobile.png);
        height: 27rem;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
    }

    /* .map {
        display: none;
    } */

    .sectionMiniVideoText p {
        width: 100%;
    }

    .smallVideoTwo {
        width: 100%;
        height: 100%;
    }

    .sectionMiniVideoText {
        width: 90%;
        margin: 2rem 2rem 2rem 2rem;
        height: 50%;
    }

    .smallVideo {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    .sectionMiniVideo {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 50rem;
    }

    .map {
        height: 37rem;
    }

    .MansAdImage {
        padding-left: 2rem;
    }

    .mapsRightSideImage h1 {
        margin-top: 22rem;
    }

    .expanderBackground {
        width: 100%;
        height: 200rem;
        background-image: url(../assets/background.png);
    }

    select {
        padding: 0.8rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        appearance: none; /* Remove default styles in some browsers */
        font-family: 'Camber-Lg', sans-serif;
        width: 8rem;
        text-align: center;
    }

    .form-control-5 {
        width: 16rem;
    }

    .header .cta {
        margin-top: 1rem;
    }
    .section-1 {
        flex-direction: column !important;
        height: 38.23844rem;
        justify-content: center;
    }
    .titleTop {
        width: 100%;
    }
    .txt-1 {
        width: 100%;
        margin-left: 0;
    }
    .txt-1 p {
        margin-top: 3rem;
        margin-left: 0;
        width: 100%;
    }
    .section-main {
        padding: 0 2rem;
    }
    .section-2 {
        padding: 0 2rem;
        height: 43rem;
    }
    .txt-2 {
        width: 100%;
    }
    .video-2 {
        width:100%;
        margin-bottom: 2.5rem;
    }
    .section-3 {
        display: flex;
        flex-direction: column-reverse !important;
        height: 38.23844rem;
        justify-content: center;
    }
    .txt-2 p {
        width: 100%;
    }
    .section-4 {
        flex-direction: column !important;
        height: 30rem;
    }
    .txt-5 p {
        width: 100%;
        margin-bottom: 0;
    }

    .sticky-cta {
        display: flex;
        justify-content: center !important;
    }

    .slider-title-1 {
        padding: 1rem 2rem 0 2rem;
    }
    .sticky-cta {
        padding: 0 3rem !important;
      }

    .map-1 {
        width: 100%;
        height: 100%;
    }

    /* Here is map's style for mobile */

    .section-map {
        margin: 0;
        background-color: #fff;
        padding: 0;
        height: 46rem;
    }
    .section-map-inner {
        height: 100%;
        width: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .txt-map {
        margin: 2rem 0 2rem 2rem;
        width: 85%;
        height: 50%;
    }
    .txt-map p {
        width: 90%;
    }

    /* Here are the new edits */

    .titleTop h1 {
        width: 100%;

    }

    .sectionMap {
        flex-direction: column;
        height: 73rem;
        gap: 1rem;
    }

    .finalMap {
        width: 100%;
    }

    .mapsRightSideImage {
        width: 100%;
        margin-left: 0;
    }

    .map {
        height: 134vw;
        max-height: 134vw;
        width: 100vw;
        background-image: url(../assets/Map2.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }

    .locationOne {
        width: 38.764vw;
        height: 6.5vw;
        top: 18.75vw;
        right: -6vw;
    }
    
    .locationTwo {
        width: 36.739vw;
        height: 12.195vw;
        top: 70.875vw;
        right: 9.375vw;
    }
    
    .locationThree {
        width: 49.086vw;
        height: 6vw;
        top: 81.375vw;
        right: 8.375vw;
    }
    
    .locationFour {
        width: 81.26094vw;
        height: 7.55188vw;
        top: 89.5vw;
        right: -5.25vw;
    }

    .locationFive {
        width: 48.64925vw;
        height: 14.967189999999999vw;
        top: 92.375vw;
        right: 12.375vw;
    }
    
    .locationSix {
        width: 52.78125vw;
        height: 21.45281vw;
        top: 94.5vw;
        right: 11vw;
    }
    
    .locationSeven {
        width: 53.78125vw;
        height: 22.45281vw;
        top: 101.5vw;
        right: 12vw;
    }
    
    .locationEight {
        width: 35.40781vw;
        height: 11.65819vw;
        top: 97.4vw;
        left: 3vw;
    }
    
    .locationNine {
        width: 26.14453vw;
        height: 10vw;
        top: 90.5vw;
        left: 4.5vw;
    }
    
    .locationTen {
        width: 25.34613vw;
        height: 13.9585vw;
        top: 80vw;
        left: 5.25vw;
    }
 
    .itemCentered {
        display: flex;
        justify-content: center;
    } 
}

@media (min-width: 481px) {
    .heading {
        font-size: 3rem;
    }
}

@media (max-width: 375px) {
    .expanderBackground {
        height: 193rem;
    }
}